# API Configuration
NEXT_PUBLIC_API_URL=http://ml-platform-api.ml-platform-development.svc.cluster.local:8000

# External Services
NEXT_PUBLIC_GRAFANA_URL=http://grafana.ml-platform.internal

# Environment
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
